{% extends 'layout.html' %} {% block app_content %}
<div
  class="container mx-auto flex items-center justify-center min-h-[calc(100vh-200px)] px-4 py-12"
>
  <c-card class="max-w-md">
    <c-card.header class="space-y-1">
      <c-card.title class="text-2xl font-bold"
        >Create new password!</c-card.title
      >
      <c-card.description
        >Your new password must be different from previous used
        passwords.</c-card.description
      >
    </c-card.header>
    <c-card.content>
      <form method="POST">
        {% csrf_token %}
        <div class="space-y-4">
          <div class="space-y-2">
            <c-label for="password1">New Password</c-label>
            <c-input
              id="password1"
              name="new_password1"
              value="{{ form.new_password1.value|default_if_none:'' }}"
              type="password"
              placeholder="******"
            />
          </div>
          <div class="space-y-2">
            <c-label for="new_password2">New Password</c-label>
            <c-input
              id="new_password2"
              name="new_password2"
              value="{{ form.new_password2.value|default_if_none:'' }}"
              type="password"
              placeholder="******"
            />
          </div>

          {% if form.non_field_errors %}
          <div>
            {% for error in form.non_field_errors %}
            <p class="text-red-500 font-semibold">{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <c-button type="submit" class="w-full"> Change Password </c-button>
        </div>
      </form>
    </c-card.content>
  </c-card>
</div>
{% endblock %}
