{% load tailwind_cli %}
{% load static %}
{% load lucide %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <script defer src="{% static 'js/alpine.min.js' %}"></script>

</head>
<body>
  {% if messages %}
  <div class="fixed z-[1000] top-0 left-0 right-0 mt-16 mx-4 bg-green-500 text-white p-4 rounded-md">
      {% for message in messages %}
          <p>{{ message }}</p>
      {% endfor %}
  </div>
  {% endif %}
  {% block content %}{% endblock %}
</body>
</html>

