<c-vars 
  name=""
  label=""
  max="100" 
  min="0"
  step="1" 
  default_value="0"
  class=""
/>

<div 
  x-data="{ 
    min: Number('{{ min }}'),
    max: Number('{{ max }}'),
    step: Number('{{ step }}'),
    value: Number('{{ default_value }}')
  }"
  class="w-full {{ class }}"
  {{ attrs }}
>
  
  {% if label %}
  <div class="flex justify-between text-sm text-gray-600 mb-2">
    <span>{{ label }}</span>
  </div>
  {% endif %}
    

  <div class="relative w-full h-2 bg-gray-300 rounded">
    <div class="absolute top-0 h-2 bg-blue-500 rounded"
         :style="`left: 0%; right: ${(100 - (value / max) * 100)}%`">
    </div>

    <input type="range"
      :min="min"
      :max="max"
      :step="step"
      x-model="value"
      class="absolute w-full h-2 bg-transparent appearance-none pointer-events-auto z-10" />
  </div>

  {% if name %}
    <input type="hidden" name="{{ name }}" :value="value">
  {% endif %}
</div>
